<a href="https://colab.research.google.com/github/WillbroadO/Weather-data-project/blob/main/Weather_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing important libraries

In [1]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

Importing data

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_excel('drive/My Drive/GPs data/GPS_concession.xlsx')

In [5]:
df.head()

,Date,Time,Date and time,GPS latitude,GPS longitude,GPS altitude,Concession
0,1900-03-24 06:11:15,08:25:03,2022:11:15 08:25:03,-0.537544,34.126236,1253.27,Oremo
1,1900-03-24 06:11:15,08:43:30,2022:11:15 08:43:30,-0.539299,34.105053,1258.22,Kal
2,1900-03-24 06:11:15,08:49:34,2022:11:15 08:49:34,-0.546308,34.100975,1258.41,Ant
3,1900-03-24 06:11:15,08:56:22,2022:11:15 08:56:22,-0.553724,34.092075,1257.03,Gobi

In [6]:
api_key = "13e8c25b74a11a570eb63c369d7b6f9e"
lat = "-0.537544"
lon = "34.126236"
url = "https://api.openweathermap.org/data/2.5/weather?lat=%s&lon=%s&appid=%s&units=metric" % (lat, lon, api_key)

response = requests.get(url)
data_oremo = json.loads(response.text)
data_oremo = pd.json_normalize(data_oremo)

data_oremo['Concession'] = 'oremo'

lat = "-0.553724"
lon = "34.092075"
url = "https://api.openweathermap.org/data/2.5/weather?lat=%s&lon=%s&appid=%s&units=metric" % (lat, lon, api_key)

response = requests.get(url)
data_gobi = json.loads(response.text)
data_gobi = pd.json_normalize(data_gobi)

data_gobi['Concession'] = 'gobi'

lat = "-0.546308"
lon = "34.100975"
url = "https://api.openweathermap.org/data/2.5/weather?lat=%s&lon=%s&appid=%s&units=metric" % (lat, lon, api_key)

response = requests.get(url)
data_ant = json.loads(response.text)
data_ant = pd.json_normalize(data_ant)

data_ant['Concession'] = 'ant'

lat = "-0.539299"
lon = "34.105053"
url = "https://api.openweathermap.org/data/2.5/weather?lat=%s&lon=%s&appid=%s&units=metric" % (lat, lon, api_key)

response = requests.get(url)
data_kal = json.loads(response.text)
data_kal = pd.json_normalize(data_kal)

data_kal['Concession'] = 'kal'

Combing the four datasets

In [10]:
weather_df = pd.concat([data_oremo, data_gobi, data_ant, data_kal], axis=0)
weather_df['Date'] = pd.to_datetime('today')
weather_df

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,wind.speed,wind.deg,wind.gust,rain.1h,clouds.all,sys.country,sys.sunrise,sys.sunset,Concession,Date
0,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1671431099,10800,196742,Homa Bay,200,34.1262,-0.5375,...,2.17,82,2.30,0.75,92,KE,1671420956,1671464702,oremo,2022-12-19 06:28:05.108234
0,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1671431100,10800,196742,Homa Bay,200,34.0921,-0.5537,...,2.30,85,2.45,0.75,91,KE,1671420962,1671464711,gobi,2022-12-19 06:28:05.108234
0,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1671431100,10800,196742,Homa Bay,200,34.1010,-0.5463,...,2.28,84,2.42,0.76,91,KE,1671420961,1671464708,ant,2022-12-19 06:28:05.108234
0,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1671431100,10800,196742,Homa Bay,200,34.1051,-0.5393,...,2.28,83,2.41,0.76,91,KE,1671420960,1671464707,kal,2022-12-19 06:28:05.108234

Exporting the data

In [11]:
weather_df.to_excel('original.xlsx')

Loading the exported file back

In [12]:
old_file = pd.read_excel('original.xlsx')

In [13]:
new_df = pd.concat([weather_df, old_file], axis=0)
new_df

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,wind.deg,wind.gust,rain.1h,clouds.all,sys.country,sys.sunrise,sys.sunset,Concession,Date,Unnamed: 0
0,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1671431099,10800,196742,Homa Bay,200,34.1262,-0.5375,...,82,2.30,0.75,92,KE,1671420956,1671464702,oremo,2022-12-19 06:28:05.108234,NaN
0,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1671431100,10800,196742,Homa Bay,200,34.0921,-0.5537,...,85,2.45,0.75,91,KE,1671420962,1671464711,gobi,2022-12-19 06:28:05.108234,NaN
0,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1671431100,10800,196742,Homa Bay,200,34.1010,-0.5463,...,84,2.42,0.76,91,KE,1671420961,1671464708,ant,2022-12-19 06:28:05.108234,NaN
0,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1671431100,10800,196742,Homa Bay,200,34.1051,-0.5393,...,83,2.41,0.76,91,KE,1671420960,1671464707,kal,2022-12-19 06:28:05.108234,NaN
0,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1671431099,10800,196742,Homa Bay,200,34.1262,-0.5375,...,82,2.30,0.75,92,KE,1671420956,1671464702,oremo,2022-12-19 06:28:05.108000,0.0
1,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1671431100,10800,196742,Homa Bay,200,34.0921,-0.5537,...,85,2.45,0.75,91,KE,1671420962,1671464711,gobi,2022-12-19 06:28:05.108000,0.0
2,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1671431100,10800,196742,Homa Bay,200,34.1010,-0.5463,...,84,2.42,0.76,91,KE,1671420961,1671464708,ant,2022-12-19 06:28:05.108000,0.0
3,"[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,10000,1671431100,10800,196742,Homa Bay,200,34.1051,-0.5393,...,83,2.41,0.76,91,KE,1671420960,1671464707,kal,2022-12-19 06:28:05.108000,0.0

Export final File

In [14]:
new_df.to_excel('weather_data_final.xlsx')